.env
.idea
.DS_Store
src
docker/mariadb/data/*
docker/mariadb/logs/*
docker/mariadb/conf/*
!docker/mariadb/data/.gitkeep
!docker/mariadb/logs/.gitkeep
!docker/mariadb/conf/.gitkeep
docker/mysql/data/*
docker/mysql/logs/*
docker/mysql/conf/*
!docker/mysql/data/.gitkeep
!docker/mysql/logs/.gitkeep
!docker/mysql/conf/.gitkeep
docker/postgres/data/*
!docker/postgres/data/.gitkeep
docker/mongo/data/*
!docker/mongo/data/.gitkeep
docker/redis/data/*
!docker/redis/data/.gitkeep